@font-face {
    font-family: 'Bebas-Regular';
    src: url('../../public/Bebas-Regular.ttf') format('truetype'); /* Caminho para o arquivo de fonte */
}

.stats {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.stats p {
    font-size: 3.5vh;
}

.pretty-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.pretty-table thead tr {
    background-color: #14181C;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.pretty-table th, 
.pretty-table td {
    padding: 12px 15px;
    align-items: center;
}

.pretty-table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.pretty-table tbody tr:hover {
    background-color: #f1f1f1;
}

.user {
    display: flex;
    align-items: center;
    width: 150px;
    margin: auto; 
    cursor: pointer;
}

.td-movie img{
    width: 100px!important;
    height: 147.5px!important;
    max-width:unset!important;
    margin-right: 10px!important;
}

.user .top {
    margin-right: 10px;
}

.user img {
    border-radius: 50%;
    width: 50px;
}

.bottom {
    font-weight: bold;
    color: black;
}

.bottom2 {
    font-weight: bold;
    color: white;
}

.table-info p{
    font-size: 20px!important;
}

.comments-section{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

.comment-movie p{
    font-family: Arial, Helvetica, sans-serif;
}

.comment-seperate{
    border-top: 1px dashed #14181C;
    border-bottom: none;
    margin-bottom: 20px;
}

.comment-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.comment-poster{
    width: '200px'!important;
    height: '295px'!important;
    margin-right: 20px;
    max-width: none;
}

.comment-title p {
    font-family: 'Bebas-Regular', sans-serif; /* Define a fonte Bebas-Regular */;
    font-size: 26px;
}